body
{
display: flex;
margin: 0;
flex-direction: column;
background-color: rgb(226, 238, 248);
padding: 0;
justify-content: center;
align-items: center;
align-content: center;

}



#CajonTitulo
{
display: flex;

background-color: rgb(61, 102, 214);
width: 98%;
height:auto;
padding: 1%;
justify-content:center;
align-items: center;
font-size: 60px;

}

#Cuerpo
{
display: flex;
width: 80%;
flex-direction: column;

}
#Titulo

{

color:rgb(255, 255, 255);
font-family:'Times New Roman', Times, serif;
margin-left: 15px;
}

#CajonUI
{

font-family:'Times New Roman', Times, serif;
display: flex;
background-color: rgb(70, 108, 212);
width: 100%;
height:
20px;
padding-bottom:1%;
padding-top:1%;
justify-content: center;
align-items:center;
align-content: center;
/**border-bottom-left-radius: 10px ;
border-bottom-right-radius: 10px ;**/



}

#ui
{
width: auto;
height: auto;
 position: fixed;   

}

#seccionUI
{
display: flex;
    font-family:'Times New Roman', Times, serif;
  

    width: 75%;
height: auto;
    justify-content: center;
    align-items:center;
    align-content: center;
    /**border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;**/ 

}

/*Tan facil de solucionar y 10 min para esto*/
a
{
display:flex;
width: 100%;
height: 100%;
text-decoration: none;
color: inherit;
}

#logo
{

width: 60px;
height: 60px; 
border-radius: 60px;
border: 4px solid white;

}

.CajaUI
{
display: flex;
align-items: center;
justify-content: center;
align-content: center;
width: 14%;
height: 40px;  
color: white;
font-family: calibri;
font-size: 20px;
font-weight: bold;

}

header {
  display: flex;
  flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #050c36d5;
    color: white;
    box-shadow: 0px 4px 10px gray;
    z-index: 1000;
width: 100%;
margin: 0;

  }
  
  .noticias-container {
    display: flex;
    flex-wrap: wrap; 
    padding-top: 4%; 
    padding-bottom: 4%;
 
    justify-content:center; 
    width: 90%;
  }
  
  .noticia {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
 
    padding: 2%; 
    width: 28.5%; 
    height: auto;

    transition: transform 0.3s ease;
  }

  .noticiaPortada {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2%; 
    width: 80%; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 40px;
  }
  

  #contenido
  {
display: flex;

flex-direction: column;
align-items: center;
align-content: center;
justify-content: center;
background-color: #000f9423;
width: 85%;
  }
  .noticia h2 {
    margin: 0 0 10px;
    font-size: 25px;
    color: #333;
  }
  
  .noticia p {
    color: #555;
  }

footer
{
display: flex;
background-color: #050c36d5;
width: 100%;
height:100px;
font-size: 20px;
color: white;
 justify-content: center;
 align-items: center;
 align-content: center;
}

  
  
  @media (max-width: 768px) {
    .noticia {
      width: 48%; 
  }
  
  @media (max-width: 480px) {
    .noticia {
      width: 100%; 
    }
  }

  h1
  {
  margin:8px
  }